section#features {
    h2 {
        color: purple;
        font-weight: bold;

    }

    p {
        color: gray;
    }

    .features-button {
        background: transparent;
        border-radius: 10px;
        border: 1px solid purple;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        padding: 20px 15px;
        color: purple;
        font-weight: 500;

    }
}

#features-list {
    padding-inline: 170px;
    h3 {
        color: purple;
    }

    p {
        text-transform: capitalize;
    }
    img {
        width: 73px;
        height: 72px;
    }
}