.hero-section {
  z-index: 1;
  color: var(--solid-black);
  background-image: linear-gradient(70deg, #761a79, #9f27a3);
  background-position: 0 0, 100%;
  background-size: auto, cover;
  padding-top: 136px;
  padding-bottom: 145px;
  position: relative;
}

.hero-desc {
  width: 100%;
  object-fit: fill;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
  position: static;
}

.halonic {
  margin-bottom: 10px;
  display: flex;
}

.haloniq {
  border-radius: 10px;
  margin-right: 10px;
}

.home-div-halonic {
  margin-bottom: 10px;
  display: flex;
}

.home-para-halonic-para._16px.center-align {
  align-self: center;
}

.home-para-halonic-para._16px {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
}

.page-home-hero-top-50-link {
  color: white;
  text-decoration: none;
}

.page-home-hero-heading {
  color: white;
  margin-top: 0;
  margin-bottom: 32px;
  font-family: "Poppins", sans-serif;
  font-size: 55px;
  font-weight: 700;
  line-height: 80px;
}

.page-home-hero-grid.vertical-hero {
  width: 100%;
  grid-row-gap: 15px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  justify-items: stretch;
}

.home-div-hero-belajar-desc,
.home-div-hero-partner-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-row-gap: 24px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  margin-top: 24px;
  padding: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.page-home-hero-button-wrapper {
  width: auto;
  flex-shrink: 0;
  margin-right: 12px;
}

.btn-konsultasi {
  color: var(--solid-black);
  background-color: #f99d1c;
  text-align: center;
  border-radius: 8px;
  padding: 13px 24px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  transition: all 0.2s;
  display: inline-block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-berpartner {
  color: var(--solid-black);
  background-color: #f99d1c;
  text-align: center;
  border-radius: 8px;
  padding: 13px 24px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  transition: all 0.2s;
  display: inline-block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-konsultasi:hover,
.btn-berpartner:hover {
  background-color: #d9821a;
  transform: scale(1.05);
}

.home-txt-belajar-desc._16px.no-margin,
.home-txt-berpartner-desc._16px.no-margin {
  color: white;
  margin-bottom: 0;
}

.home-txt-belajar-desc,
.home-txt-berpartner-desc {
    flex-grow: 1; 
}

.home-div-hero-images {
  z-index: 5;
  width: 40vw;
  align-items: flex-end;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
  overflow: hidden;
}

.hero-images {
  width: auto;
  height: 100%;
}

.home-play-video {
  width: 100px;
  position: absolute;
}

.home-hero-background-logo {
  z-index: 9;
  width: 775px;
  height: auto;
  opacity: 0.44;
  position: absolute;
  top: auto;
  bottom: -70px;
  left: 150px;
  right: auto;
}
